<ons-navigator var="myNavigator">
<ons-page>
<!-- Prerequisite=This example use ionicons(http://ionicons.com) to display icons. -->
<div class="navigation-bar">
  <div class="navigation-bar__left">
    <span class="toolbar-button--outline navigation-bar__line-height">
      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    Title
  </div>

  <div class="navigation-bar__right">
    <span class="toolbar-button--outline navigation-bar__line-height">Button</span>
  </div>
</div>

<ons-button onclick="myNavigator.popPage()"> Pop Page </ons-button>

<ons-list>
    <ons-list-header>Android Versions</ons-list-header>
    
    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('page1.html')">KitKat</ons-list-item>
    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('page2.html')">Jelly Bean</ons-list-item>
    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('page4.html')">Honycomb</ons-list-item>
    
</ons-list>


</ons-page>
</ons-navigator>
